In [ ]:
#quarterly GDP values for all countries 
import pandas as pd
df1 = pd.read_csv('/content/QGDP.csv')

In [ ]:
#load QGPD data
df1.clean=df1[['Country','Unit','Q4-2018','Q1-2019','Q2-2019','Q3-2019','Q1-2020','Q2-2020','Q3-2020','Q4-2020','Q1-2021','Q2-2021','Q3-2021']]
df1.clean.rename(columns = {'Country': 'CountryName'})
df1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

     Country                       Unit  ...    Q2-2021    Q3-2021
0  Australia  US Dollar, Millions, 2015  ...  1,257,894  1,233,716
1    Austria  US Dollar, Millions, 2015  ...    454,535    471,868
2    Belgium  US Dollar, Millions, 2015  ...    554,258    565,553
3     Canada  US Dollar, Millions, 2015  ...  1,702,134  1,724,860
4      Chile  US Dollar, Millions, 2015  ...    451,371    473,361

[5 rows x 14 columns]

In [ ]:
#load stringency data
df2 = pd.read_csv ('/content/covid-stringency-index.csv')
df2 = df2.rename(columns={'Entity': 'CountryName','Day':'Date','stringency_index':'StringencyIndex'})

In [ ]:
#load covid cases data 
df3 = pd.read_csv ('/content/owid-covid-data.csv')
df3.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 67 columns]

In [ ]:
#cleaning covid cases data

df3= df3.clean= df3[['location','date','total_cases']]
df3=df3.rename(columns={'date':'Date'})
df3=df3.rename(columns={'location':'CountryName'})
df3['Date']=df3["Date"].str.replace('-','')
df3['Date']=df3["Date"].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#merging QGDP and stringency index part 1
df19=df1.copy()
df19=df19.drop(df19.columns[[3,4,5,6,7,8,9,10,11,12,13]], axis=1)  
df19=df19.rename(columns={'Q4-2018':'QGDP'})
df19.insert(3, "Date", ["2019-03-13" for index in range (60)])

df20=df1.copy()
df20=df20.drop(df20.columns[[2,4,5,6,7,8,9,10,11,12,13]], axis=1)  
df20=df20.rename(columns={'Q1-2019':'QGDP'})
df20.insert(3, "Date", ["2019-05-22" for index in range (60)])

df21=df1.copy()
df21=df21.drop(df21.columns[[2,3,5,6,7,8,9,10,11,12,13]], axis=1)  
df21=df21.rename(columns={'Q2-2019':'QGDP'})
df21.insert(3, "Date", ["2019-08-26" for index in range (60)])

df22=df1.copy()
df22=df22.drop(df22.columns[[2,3,4,6,7,8,9,10,11,12,13]], axis=1)  
df22=df22.rename(columns={'Q3-2019':'QGDP'})
df22.insert(3, "Date", ["2019-11-19" for index in range (60)])

df23=df1.copy()
df23=df23.drop(df23.columns[[2,3,4,5,7,8,9,10,11,12,13]], axis=1)  
df23=df23.rename(columns={'Q4-2019':'QGDP'})
df23.insert(3, "Date", ["2020-02-20" for index in range (60)])

df24=df1.copy()
df24=df24.drop(df24.columns[[2,3,4,5,6,8,9,10,11,12,13]], axis=1)  
df24=df24.rename(columns={'Q1-2020':'QGDP'})
df24.insert(3, "Date", ["2020-06-11" for index in range (60)])

df25=df1.copy()
df25=df25.drop(df25.columns[[2,3,4,5,6,7,9,10,11,12,13]], axis=1)  
df25=df25.rename(columns={'Q2-2020':'QGDP'})
df25.insert(3, "Date", ["2020-09-14" for index in range (60)])

df26=df1.copy()
df26=df26.drop(df26.columns[[2,3,4,5,6,7,8,10,11,12,13]], axis=1)  
df26=df26.rename(columns={'Q3-2020':'QGDP'})
df26.insert(3, "Date", ["2020-12-14" for index in range (60)])

df27=df1.copy()
df27=df27.drop(df27.columns[[2,3,4,5,6,7,8,9,11,12,13]], axis=1)  
df27=df27.rename(columns={'Q4-2020':'QGDP'})
df27.insert(3, "Date", ["2021-02-18" for index in range (60)])

df28=df1.copy()
df28=df28.drop(df28.columns[[2,3,4,5,6,7,8,9,10,12,13]], axis=1)  
df28=df28.rename(columns={'Q1-2021':'QGDP'})
df28.insert(3, "Date", ["2021-05-20" for index in range (60)])

df29=df1.copy()
df29=df29.drop(df29.columns[[2,3,4,5,6,7,8,9,10,11,13]], axis=1)  
df29=df29.rename(columns={'Q2-2021':'QGDP'})
df29.insert(3, "Date", ["2021-08-30" for index in range (60)])

df30=df1.copy()
df30=df30.drop(df30.columns[[2,3,4,5,6,7,8,9,10,11,12]], axis=1)  
df30=df30.rename(columns={'Q3-2021':'QGDP'})
df30.insert(3, "Date", ["2021-12-18" for index in range (60)])

In [ ]:
#merging QGDP and stringency index part 2

df_qgdpwithdates = pd.concat([df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30],ignore_index=True)
df_qgdpwithdates

                                               Country  ...        Date
0                                            Australia  ...  2019-03-13
1                                              Austria  ...  2019-03-13
2                                              Belgium  ...  2019-03-13
3                                               Canada  ...  2019-03-13
4                                                Chile  ...  2019-03-13
..                                                 ...  ...         ...
715                                                NaN  ...  2021-12-18
716                                                NaN  ...  2021-12-18
717  Data extracted on 16 Dec 2021 16:16 UTC (GMT) ...  ...  2021-12-18
718                                            Legend:  ...  2021-12-18
719                                                 P:  ...  2021-12-18

[720 rows x 4 columns]

In [ ]:
#merging QGDP and stringency index part 3
df_qgdpwithdates=df_qgdpwithdates.rename(columns={'Country':'CountryName'})
df_qgdpwithdates

                                           CountryName  ...        Date
0                                            Australia  ...  2019-03-13
1                                              Austria  ...  2019-03-13
2                                              Belgium  ...  2019-03-13
3                                               Canada  ...  2019-03-13
4                                                Chile  ...  2019-03-13
..                                                 ...  ...         ...
715                                                NaN  ...  2021-12-18
716                                                NaN  ...  2021-12-18
717  Data extracted on 16 Dec 2021 16:16 UTC (GMT) ...  ...  2021-12-18
718                                            Legend:  ...  2021-12-18
719                                                 P:  ...  2021-12-18

[720 rows x 4 columns]

In [ ]:
#merging QGDP and stringency index part 4

df_joinedQGDP = pd.merge(df_qgdpwithdates, df2, on=["Date","CountryName"])
df_joinedQGDP=df_joinedQGDP.drop(df_joinedQGDP.columns[[1,4]], axis=1) 
df_joinedQGDP

        CountryName       QGDP        Date  StringencyIndex
0         Australia  1,236,051  2020-02-20            19.44
1           Austria    466,527  2020-02-20             0.00
2           Belgium    562,763  2020-02-20            11.11
3            Canada  1,748,979  2020-02-20             2.78
4             Chile    428,582  2020-02-20             0.00
..              ...        ...         ...              ...
257        Portugal    334,896  2021-12-18            43.52
258        Slovenia     78,485  2021-12-18            58.33
259           Spain  1,687,252  2021-12-18            43.98
260     Switzerland    603,544  2021-12-18            46.30
261  United Kingdom  2,960,667  2021-12-18            48.61

[262 rows x 4 columns]

In [ ]:
#checking the conditional merge worked correctly
print(df2[(df2["Date"]=="2020-02-20") & (df2["CountryName"]=="Australia")])
print(df_joinedQGDP[df_joinedQGDP["Date"]=="2021-05-20"])
#just check with the above to see if the tables match for this specific day

     CountryName Code        Date  StringencyIndex
4880   Australia  AUS  2020-02-20            19.44
        CountryName        QGDP        Date  StringencyIndex
175       Australia   1,249,109  2021-05-20            36.57
176         Austria     436,296  2021-05-20            68.52
177         Belgium     544,842  2021-05-20            50.93
178          Canada   1,715,842  2021-05-20            75.46
179           Chile     444,215  2021-05-20            80.09
180        Colombia     692,095  2021-05-20            62.96
181      Costa Rica      96,001  2021-05-20            56.48
182         Denmark     306,422  2021-05-20            59.26
183         Estonia      46,570  2021-05-20            41.67
184         Finland     249,184  2021-05-20            52.31
185          France   2,791,880  2021-05-20            54.63
186         Germany   3,982,322  2021-05-20            75.00
187          Greece     290,758  2021-05-20            56.48
188         Hungary     307,483  2021-05-20            49.07
189         Iceland      18,053  2021-05-20            37.96
190         Ireland     480,566  2021-05-20            55.56
191          Israel     352,918  2021-05-20            52.78
192           Italy   2,185,937  2021-05-20            69.44
193           Japan   5,170,259  2021-05-20            49.07
194       Lithuania     100,618  2021-05-20            41.67
195          Latvia      54,893  2021-05-20            56.48
196      Luxembourg      71,947  2021-05-20            45.37
197          Mexico   2,284,790  2021-05-20            44.44
198     Netherlands     904,587  2021-05-20            67.59
199     New Zealand     205,585  2021-05-20            22.22
200          Norway     330,822  2021-05-20            62.04
201          Poland   1,216,694  2021-05-20            62.04
202        Portugal     311,806  2021-05-20            62.04
203        Slovenia      75,929  2021-05-20            52.78
204           Spain   1,636,664  2021-05-20            63.43
205          Sweden     530,963  2021-05-20            65.74
206     Switzerland     583,187  2021-05-20            50.93
207          Turkey   2,566,230  2021-05-20            76.85
208  United Kingdom   2,771,207  2021-05-20            62.50
209   United States  19,949,500  2021-05-20            52.31

In [ ]:
#cleaning df_joinedQGDP


df_joinedQGDP['Date']=df_joinedQGDP["Date"].str.replace('-','')
#deleting the hyphen in "date" (replacing it with nothing), same for commas below
df_joinedQGDP['QGDP']=df_joinedQGDP["QGDP"].str.replace(',','')
df_joinedQGDP['QGDP']=pd.to_numeric(df_joinedQGDP["QGDP"],errors='coerce')
#to_numeric in pandas turns everything into an integer, but just deletes errors

df_joinedQGDP['Date']=df_joinedQGDP["Date"].astype(int)
df_joinedQGDP=df_joinedQGDP.dropna()
df_joinedQGDP

        CountryName     QGDP      Date  StringencyIndex
0         Australia  1236051  20200220            19.44
1           Austria   466527  20200220             0.00
2           Belgium   562763  20200220            11.11
3            Canada  1748979  20200220             2.78
4             Chile   428582  20200220             0.00
..              ...      ...       ...              ...
257        Portugal   334896  20211218            43.52
258        Slovenia    78485  20211218            58.33
259           Spain  1687252  20211218            43.98
260     Switzerland   603544  20211218            46.30
261  United Kingdom  2960667  20211218            48.61

[262 rows x 4 columns]

In [ ]:
#creating a merged dataset for stringency index and covid cases (df_joinedCovidCases) and cleaning it
df_joinedCovidCases=pd.merge(df3, df_joinedQGDP,on=["Date","CountryName"])
df_joinedCovidCases=df_joinedCovidCases.sort_values('Date',ascending=True)
df_joinedCovidCases=df_joinedCovidCases.reset_index(drop=True)
df_joinedCovidCases=df_joinedCovidCases.dropna()
df_joinedCovidCases

     CountryName      Date  total_cases     QGDP  StringencyIndex
0      Australia  20200220         15.0  1236051            19.44
2        Belgium  20200220          1.0   562763            11.11
3          Italy  20200220          3.0  2333068            19.44
4         Canada  20200220          8.0  1748979             2.78
5          Japan  20200220         95.0  5250698            25.00
..           ...       ...          ...      ...              ...
169  Netherlands  20211218    2971428.0   956871            56.48
170      Ireland  20211218     651476.0   510560            50.00
171        Chile  20211218    1790524.0   473361            41.20
172      Finland  20211218     213318.0   256807            34.72
173      Belgium  20211218    1999764.0   565553            48.15

[170 rows x 5 columns]

In [ ]:
#installing the things for chow test
!curl https://github.com/jkclem/chowtest.git

!pip install chowtest
import chow_test as chowtest

<html>
<head><title>301 Moved Permanently</title></head>
<body>
<center><h1>301 Moved Permanently</h1></center>
<hr><center>nginx</center>
</body>
</html>
Requirement already satisfied: chowtest in /usr/local/lib/python3.7/dist-packages (0.1.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from chowtest) (1.4.1)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (from chowtest) (0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from chowtest) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from chowtest) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->chowtest) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->chowtest) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->chowtest) (1.15.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn->chowtest) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn->chowtest) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn->chowtest) (1.1.0)

In [ ]:
#CHOW TEST, QGDP

chowtest.chow_test(df_joinedQGDP["StringencyIndex"],df_joinedQGDP['QGDP'],last_index=174,first_index=175, significance=.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 17.9741669368398, P_value: 4.940361109095903e-08

(17.9741669368398, 4.940361109095903e-08)

In [ ]:
#CHOW TEST, COVID CASES
chowtest.chow_test(df_joinedCovidCases["StringencyIndex"],df_joinedCovidCases['total_cases'],last_index=156,first_index=157, significance=.05)

Reject the null hypothesis of equality of regression coefficients in the two periods.
Chow Statistic: 26.510905420545477, P_value: 1.0379586079523051e-10

(26.510905420545477, 1.0379586079523051e-10)

In [ ]:

!curl https://bootstrap.pypa.io/get-pip.py | python

!pip install linearmodels

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2108k  100 2108k    0     0  12.3M      0 --:--:-- --:--:-- --:--:-- 12.4M
Collecting pip
  Downloading pip-21.3.1-py3-none-any.whl (1.7 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.7 MB 7.9 MB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
Successfully installed pip-21.3.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting linearmodels
  Downloading linearmodels-4.25-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.5 MB 7.8 MB/s
Collecting formulaic
  Downloading formulaic-0.2.4-py3-none-any.whl (55 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 55 kB 3.9 MB/s
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.29.26)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.4.1)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.5.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.1.5)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.19.5)
Collecting statsmodels>=0.11
  Downloading statsmodels-0.13.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9.8 MB 55.5 MB/s
Collecting mypy-extensions>=0.4
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Collecting property-cached>=1.6.3
  Downloading property_cached-1.6.4-py2.py3-none-any.whl (7.8 kB)
Collecting pyhdfe>=0.1
  Downloading pyhdfe-0.1.0-py3-none-any.whl (18 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy->linearmodels) (1.15.0)
Collecting interface-meta>=1.2
  Downloading interface_meta-1.2.4-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (0.8.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.13.3)
Installing collected packages: interface-meta, statsmodels, pyhdfe, property-cached, mypy-extensions, formulaic, linearmodels
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed formulaic-0.2.4 interface-meta-1.2.4 linearmodels-4.25 mypy-extensions-0.4.3 property-cached-1.6.4 pyhdfe-0.1.0 statsmodels-0.13.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
from linearmodels import PooledOLS
import statsmodels.api as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects

In [ ]:
#making dummy variables, for QGDP

df_joinedQGDP.loc[df_joinedQGDP["Date"] == 20200611, "d1"] = 1
df_joinedQGDP.loc[df_joinedQGDP["Date"] != 20200611, "d1"] = 0
df_joinedQGDP.loc[df_joinedQGDP["Date"] == 20200914, "d2"] = 1
df_joinedQGDP.loc[df_joinedQGDP["Date"] != 20200914, "d2"] = 0
df_joinedQGDP.loc[df_joinedQGDP["Date"] == 20201214, "d3"] = 1
df_joinedQGDP.loc[df_joinedQGDP["Date"] != 20201214, "d3"] = 0
df_joinedQGDP.loc[df_joinedQGDP["Date"] == 20210218, "d4"] = 1
df_joinedQGDP.loc[df_joinedQGDP["Date"] != 20210218, "d4"] = 0
df_joinedQGDP.loc[df_joinedQGDP["Date"] == 20210520, "d5"] = 1
df_joinedQGDP.loc[df_joinedQGDP["Date"] != 20210520, "d5"] = 0
df_joinedQGDP.loc[df_joinedQGDP["Date"] == 20210830, "d6"] = 1
df_joinedQGDP.loc[df_joinedQGDP["Date"] != 20210830, "d6"] = 0
df_joinedQGDP.loc[df_joinedQGDP["Date"] == 20211218, "d7"] = 1
df_joinedQGDP.loc[df_joinedQGDP["Date"] != 20211218, "d7"] = 0

In [ ]:
#making dummy variable for Covid cases
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] == 20200611, "d1"] = 1
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] != 20200611, "d1"] = 0
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] == 20200914, "d2"] = 1
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] != 20200914, "d2"] = 0
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] == 20201214, "d3"] = 1
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] != 20201214, "d3"] = 0
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] == 20210218, "d4"] = 1
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] != 20210218, "d4"] = 0
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] == 20210520, "d5"] = 1
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] != 20210520, "d5"] = 0
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] == 20210830, "d6"] = 1
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] != 20210830, "d6"] = 0
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] == 20211218, "d7"] = 1
df_joinedCovidCases.loc[df_joinedCovidCases["Date"] != 20211218, "d7"] = 0

In [ ]:
#FIXED EFFECTS PANEL REGRESSION FOR QGDP

#load the data
data = df_joinedQGDP.copy()

data = data.set_index(['CountryName','Date'])

exog = sm.tools.tools.add_constant(data[["StringencyIndex","d1","d2","d3","d4","d5","d6","d7"]])
endog = data["QGDP"]

# fixed effects model
model_fe = PanelOLS(endog, exog, entity_effects=True)

print(model_fe)

fe_res1 = model_fe.fit()
#print results
print(fe_res1)

PanelOLS
Num exog: 9, Constant: True
Entity Effects: True, Time Effects: False, Num Other Effects: 0
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   QGDP   R-squared:                        0.2108
Estimator:                   PanelOLS   R-squared (Between):             -0.0015
No. Observations:                 262   R-squared (Within):               0.2108
Date:                Tue, Jan 18 2022   R-squared (Overall):             -0.0009
Time:                        17:01:54   Log-likelihood                   -3431.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      7.3127
Entities:                          35   P-value                           0.0000
Avg Obs:                       7.4857   Distribution:                   F(8,219)
Min Obs:                       7.0000
Max Obs:                       8.0000   F-statistic (robust):             7.3127
                                        P-value                           0.0000
Time periods:                       8   Distribution:                   F(8,219)
Avg Obs:                       32.750
Min Obs:                       17.000
Max Obs:                       35.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const            1.554e+06  2.262e+04     68.694     0.0000   1.509e+06   1.598e+06
StringencyIndex    -806.51     790.86    -1.0198     0.3090     -2365.2      752.15
d1               1.358e+04  5.023e+04     0.2703     0.7872  -8.542e+04   1.126e+05
d2              -1.596e+05  4.697e+04    -3.3981     0.0008  -2.522e+05  -6.703e+04
d3              -1.418e+04   5.43e+04    -0.2611     0.7942  -1.212e+05   9.283e+04
d4                  4154.2  5.592e+04     0.0743     0.9408  -1.061e+05   1.144e+05
d5                  7010.1  4.937e+04     0.1420     0.8872  -9.028e+04   1.043e+05
d6               2.816e+04  4.518e+04     0.6233     0.5337  -6.088e+04   1.172e+05
d7               2.012e+04  5.069e+04     0.3969     0.6919  -7.979e+04     1.2e+05
===================================================================================

F-test for Poolability: 4711.2
P-value: 0.0000
Distribution: F(34,219)

Included effects: Entity

In [ ]:
#FIXED EFFECTS PANEL REGRESSION FOR COVID CASES
data = df_joinedCovidCases.copy()
data = data.set_index(['CountryName','Date'])

exog = sm.tools.tools.add_constant(data[["StringencyIndex",'d1','d2','d3','d4','d5','d6','d7']])
endog = data["total_cases"]

# fixed effects model
model_fe = PanelOLS(endog, exog, entity_effects=True) 

print(model_fe)


fe_res = model_fe.fit()
#print results
print(fe_res)

PanelOLS
Num exog: 9, Constant: True
Entity Effects: True, Time Effects: False, Num Other Effects: 0
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            total_cases   R-squared:                        0.4075
Estimator:                   PanelOLS   R-squared (Between):             -0.0072
No. Observations:                 170   R-squared (Within):               0.4075
Date:                Tue, Jan 18 2022   R-squared (Overall):              0.2163
Time:                        17:01:54   Log-likelihood                   -2542.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      11.778
Entities:                          25   P-value                           0.0000
Avg Obs:                       6.8000   Distribution:                   F(8,137)
Min Obs:                       6.0000
Max Obs:                       8.0000   F-statistic (robust):             11.778
                                        P-value                           0.0000
Time periods:                       8   Distribution:                   F(8,137)
Avg Obs:                       21.250
Min Obs:                       8.0000
Max Obs:                       25.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const           -5.709e+05  3.195e+05    -1.7867     0.0762  -1.203e+06   6.093e+04
StringencyIndex     4422.4     6195.0     0.7139     0.4765     -7827.8   1.667e+04
d1                3.93e+05  4.578e+05     0.8585     0.3921  -5.123e+05   1.298e+06
d2               5.116e+05  4.344e+05     1.1779     0.2409  -3.473e+05   1.371e+06
d3                 8.2e+05  4.753e+05     1.7252     0.0867  -1.199e+05    1.76e+06
d4               1.095e+06  4.862e+05     2.2523     0.0259   1.336e+05   2.056e+06
d5               1.525e+06  4.451e+05     3.4256     0.0008   6.446e+05   2.405e+06
d6               1.823e+06  4.363e+05     4.1769     0.0001   9.597e+05   2.685e+06
d7               2.293e+06  4.655e+05     4.9263     0.0000   1.373e+06   3.214e+06
===================================================================================

F-test for Poolability: 7.0971
P-value: 0.0000
Distribution: F(24,137)

Included effects: Entity

In [ ]:
#PANEL REGRESSION FOR QGDP, {TOP 5 GDP COUNTRIES}

# Load the data
data3= df_joinedQGDP.copy()
data3= data3[(data3['CountryName']=="United States")|(data3['CountryName']=="United Kingdom")|(data3['CountryName']=="Japan")|(data3['CountryName']=="Germany")|(data3['CountryName']=="France")]

data3 = data3.set_index(['CountryName','Date'])

exog = sm.tools.tools.add_constant(data3[["StringencyIndex","d1","d2","d3","d4","d5","d6","d7"]])
endog = data3["QGDP"]

# fixed effects model
model_fe = PanelOLS(endog, exog, entity_effects=True)

print(model_fe)

fe_res1 = model_fe.fit()
#print results
print(fe_res1)

PanelOLS
Num exog: 9, Constant: True
Entity Effects: True, Time Effects: False, Num Other Effects: 0
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   QGDP   R-squared:                        0.6153
Estimator:                   PanelOLS   R-squared (Between):             -0.0032
No. Observations:                  37   R-squared (Within):               0.6153
Date:                Tue, Jan 18 2022   R-squared (Overall):             -0.0002
Time:                        17:01:54   Log-likelihood                   -505.01
Cov. Estimator:            Unadjusted
                                        F-statistic:                      4.7977
Entities:                           5   P-value                           0.0013
Avg Obs:                       7.4000   Distribution:                    F(8,24)
Min Obs:                       7.0000
Max Obs:                       8.0000   F-statistic (robust):             4.7977
                                        P-value                           0.0013
Time periods:                       8   Distribution:                    F(8,24)
Avg Obs:                       4.6250
Min Obs:                       2.0000
Max Obs:                       5.0000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const            6.944e+06  1.251e+05     55.503     0.0000   6.685e+06   7.202e+06
StringencyIndex    -5943.7     4387.5    -1.3547     0.1881    -1.5e+04      3111.7
d1               1.815e+05  2.707e+05     0.6704     0.5090  -3.773e+05   7.402e+05
d2              -5.825e+05  2.402e+05    -2.4253     0.0232  -1.078e+06  -8.679e+04
d3               6.522e+04  2.917e+05     0.2236     0.8250  -5.368e+05   6.673e+05
d4               1.542e+05  3.016e+05     0.5114     0.6137  -4.683e+05   7.767e+05
d5               1.184e+05  2.617e+05     0.4526     0.6549  -4.216e+05   6.585e+05
d6               2.278e+05  2.531e+05     0.9002     0.3770  -2.946e+05   7.502e+05
d7               2.016e+05  2.964e+05     0.6801     0.5029  -4.101e+05   8.132e+05
===================================================================================

F-test for Poolability: 5600.7
P-value: 0.0000
Distribution: F(4,24)

Included effects: Entity

In [ ]:
#PANEL REGRESSION FOR QGDP, {BOTTOM 5 GDP COUNTRIES}

data3= df_joinedQGDP.copy()
data3= data3[(data3['CountryName']=="Iceland")|(data3['CountryName']=="Latvia")|(data3['CountryName']=="Luxembourg")|(data3['CountryName']=="Lithuania")|(data3['CountryName']=="Slovenia")]
data3 = data3.set_index(['CountryName','Date'])

exog = sm.tools.tools.add_constant(data3[["StringencyIndex","d1","d2","d3","d4","d5","d6","d7"]])
endog = data3["QGDP"]

# fixed effects model
model_fe = PanelOLS(endog, exog, entity_effects=True)

print(model_fe)

fe_res1 = model_fe.fit()
#print results
print(fe_res1)

PanelOLS
Num exog: 9, Constant: True
Entity Effects: True, Time Effects: False, Num Other Effects: 0
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   QGDP   R-squared:                        0.7460
Estimator:                   PanelOLS   R-squared (Between):              0.0010
No. Observations:                  40   R-squared (Within):               0.7460
Date:                Tue, Jan 18 2022   R-squared (Overall):              0.0070
Time:                        17:01:55   Log-likelihood                   -340.54
Cov. Estimator:            Unadjusted
                                        F-statistic:                      9.9134
Entities:                           5   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                    F(8,27)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             9.9134
                                        P-value                           0.0000
Time periods:                       8   Distribution:                    F(8,27)
Avg Obs:                       5.0000
Min Obs:                       5.0000
Max Obs:                       5.0000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const            6.407e+04     669.18     95.746     0.0000    6.27e+04   6.544e+04
StringencyIndex     9.1543     33.754     0.2712     0.7883     -60.103      78.412
d1                 -1348.4     1653.7    -0.8154     0.4220     -4741.7      2044.8
d2                 -5761.7     1561.9    -3.6890     0.0010     -8966.4     -2557.0
d3                 -2174.0     2176.7    -0.9988     0.3268     -6640.2      2292.2
d4                 -1376.5     1992.0    -0.6910     0.4955     -5463.8      2710.9
d5                 -211.89     1721.6    -0.1231     0.9030     -3744.4      3320.6
d6                  1044.5     1387.4     0.7528     0.4581     -1802.2      3891.2
d7                  1253.4     1695.4     0.7393     0.4661     -2225.3      4732.0
===================================================================================

F-test for Poolability: 3181.1
P-value: 0.0000
Distribution: F(4,27)

Included effects: Entity

In [ ]:
#PANEL REGRESSION FOR Covid Cases, {TOP 5 GDP COUNTRIES}

data3= df_joinedCovidCases.copy()

data3= data3[(data3['CountryName']=="United States")|(data3['CountryName']=="United Kingdom")|(data3['CountryName']=="Japan")|(data3['CountryName']=="Germany")|(data3['CountryName']=="France")]
data3 = data3.set_index(['CountryName','Date'])
exog = sm.tools.tools.add_constant(data3[["StringencyIndex",'d1','d2','d3','d4','d5','d6','d7']])
endog = data3["total_cases"]

# fixed effects model
model_fe = PanelOLS(endog, exog, entity_effects=True) 

print(model_fe)


fe_res2 = model_fe.fit()
#print results
print(fe_res2)

PanelOLS
Num exog: 9, Constant: True
Entity Effects: True, Time Effects: False, Num Other Effects: 0
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            total_cases   R-squared:                        0.8365
Estimator:                   PanelOLS   R-squared (Between):              0.4489
No. Observations:                  22   R-squared (Within):               0.8365
Date:                Tue, Jan 18 2022   R-squared (Overall):              0.7325
Time:                        17:01:55   Log-likelihood                   -331.17
Cov. Estimator:            Unadjusted
                                        F-statistic:                      7.0355
Entities:                           3   P-value                           0.0021
Avg Obs:                       7.3333   Distribution:                    F(8,11)
Min Obs:                       7.0000
Max Obs:                       8.0000   F-statistic (robust):             7.0355
                                        P-value                           0.0021
Time periods:                       8   Distribution:                    F(8,11)
Avg Obs:                       2.7500
Min Obs:                       1.0000
Max Obs:                       3.0000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               7701.0   7.93e+05     0.0097     0.9924  -1.738e+06   1.753e+06
StringencyIndex     3061.6   2.89e+04     0.1060     0.9175  -6.054e+04   6.666e+04
d1               1.153e+04  1.497e+06     0.0077     0.9940  -3.283e+06   3.306e+06
d2               1.617e+05  1.307e+06     0.1237     0.9038  -2.714e+06   3.038e+06
d3               1.168e+06  1.729e+06     0.6753     0.5134  -2.638e+06   4.973e+06
d4               1.969e+06  1.748e+06     1.1269     0.2838  -1.877e+06   5.816e+06
d5               3.178e+06  1.634e+06     1.9450     0.0778  -4.183e+05   6.774e+06
d6               3.932e+06  1.638e+06     2.4012     0.0352   3.278e+05   7.537e+06
d7               7.339e+06  2.123e+06     3.4568     0.0054   2.666e+06   1.201e+07
===================================================================================

F-test for Poolability: 4.8616
P-value: 0.0307
Distribution: F(2,11)

Included effects: Entity

In [ ]:
#PANEL REGRESSION FOR Covid Cases, {5 LOWEST GDP COUNTRIES}

data3= df_joinedCovidCases.copy()

data3= data3[(data3['CountryName']=="Iceland")|(data3['CountryName']=="Latvia")|(data3['CountryName']=="Luxembourg")|(data3['CountryName']=="Lithuania")|(data3['CountryName']=="Finland")]
data3 = data3.set_index(['CountryName','Date'])
exog = sm.tools.tools.add_constant(data3[["StringencyIndex",'d1','d2','d3','d4','d5','d6','d7']])
endog = data3["total_cases"]

# fixed effects model
model_fe = PanelOLS(endog, exog, entity_effects=True) 

print(model_fe)


fe_res2 = model_fe.fit()
#print results
print(fe_res2)

PanelOLS
Num exog: 9, Constant: True
Entity Effects: True, Time Effects: False, Num Other Effects: 0
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            total_cases   R-squared:                        0.6312
Estimator:                   PanelOLS   R-squared (Between):              0.0279
No. Observations:                  36   R-squared (Within):               0.6312
Date:                Tue, Jan 18 2022   R-squared (Overall):              0.4402
Time:                        17:01:55   Log-likelihood                   -444.02
Cov. Estimator:            Unadjusted
                                        F-statistic:                      4.9199
Entities:                           5   P-value                           0.0012
Avg Obs:                       7.2000   Distribution:                    F(8,23)
Min Obs:                       7.0000
Max Obs:                       8.0000   F-statistic (robust):             4.9199
                                        P-value                           0.0012
Time periods:                       8   Distribution:                    F(8,23)
Avg Obs:                       4.5000
Min Obs:                       1.0000
Max Obs:                       5.0000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               1135.9  8.046e+04     0.0141     0.9889  -1.653e+05   1.676e+05
StringencyIndex     456.04     2322.3     0.1964     0.8460     -4348.0      5260.1
d1              -1.889e+04  1.056e+05    -0.1789     0.8596  -2.373e+05   1.996e+05
d2              -1.391e+04  9.455e+04    -0.1471     0.8843  -2.095e+05   1.817e+05
d3               1.337e+04  1.221e+05     0.1095     0.9138  -2.392e+05    2.66e+05
d4               5.054e+04  1.205e+05     0.4195     0.6788  -1.987e+05   2.998e+05
d5               9.042e+04  1.078e+05     0.8390     0.4101  -1.325e+05   3.134e+05
d6               1.133e+05  9.148e+04     1.2390     0.2278   -7.59e+04   3.026e+05
d7               1.993e+05  9.943e+04     2.0048     0.0569     -6349.3    4.05e+05
===================================================================================

F-test for Poolability: 6.7868
P-value: 0.0009
Distribution: F(4,23)

Included effects: Entity